.Navbar {
	height: 4.5rem;
	background-color: black;
	color: white;
	padding: 0 2rem;
	& a {
		color: inherit;
		text-decoration: none;
	}
	& li {
		transition: all 1s ease-in-out;
	}
	& li:hover {
		translate: 0 -0.25rem;
		transition: all 200ms ease-in-out;
	}
	& a.active {
		color: dodgerblue;
	}

	& ul {
		height: 100%;
		display: flex;
		gap: 1rem;
		list-style: none;
		justify-content: flex-end;
		align-items: center;
	}
}
